* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.App {
    text-align: center;
    margin: 10px;
}
.App > * {
    margin: 5px!important;
    width: 100%;
}
.DraftEditor-root {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.27);
    padding: 5px;
}
.public-DraftEditor-content {
    min-height: 400px;
}